@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-brush {
  font-family: 'Brush Script MT', cursive;
}

.font-lucida {
  font-family: 'Lucida Handwriting', cursive;
}

